<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PYTHON 2 PROJECT - DjangoGirls</title>
<!--    <title>DjangoGirls Tutorial</title>-->

<!--    <style>-->
<!--        .div1{-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--        }-->
<!--        h1{-->
<!--            font-size: 120%;-->
<!--            font-family: Verdana, Arial, Helvetica, sans-serif;-->
<!--            color: red;-->
<!--            margin: auto;-->
<!--            width: 40%;-->
<!--            border: 3px solid gold;-->
<!--            padding: 2%;-->
<!--            text-align: center;-->
<!--            margin-top: 5%;-->
<!--        }-->
<!--        h2{-->
<!--            font-size: 120%;-->
<!--            font-family: Verdana, Arial, Helvetica, sans-serif;-->
<!--            color: brown;-->
<!--            margin: auto;-->
<!--            width: 40%;-->
<!--            padding: 2%;-->
<!--            text-align: center;-->
<!--            margin-top: 5%;-->
<!--        }-->
<!--        .div2{-->
<!--            width: 50%;-->
<!--            height: 200px;-->
<!--            background-color:ceramic-->
<!--        }-->

<!--    </style>-->
</head>
<body>

     <div>
         <h1><a href="/">Django Girls Blog</a></h1>
     </div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

</body>
</html>