<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PYTHON 2 PROJECT - DjangoGirls</title>
<!--    <title>DjangoGirls Tutorial</title>-->

<!--    <style>-->
<!--        .div1{-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--        }-->
<!--        h1{-->
<!--            font-size: 120%;-->
<!--            font-family: Verdana, Arial, Helvetica, sans-serif;-->
<!--            color: red;-->
<!--            margin: auto;-->
<!--            width: 40%;-->
<!--            border: 3px solid gold;-->
<!--            padding: 2%;-->
<!--            text-align: center;-->
<!--            margin-top: 5%;-->
<!--        }-->
<!--        h2{-->
<!--            font-size: 120%;-->
<!--            font-family: Verdana, Arial, Helvetica, sans-serif;-->
<!--            color: brown;-->
<!--            margin: auto;-->
<!--            width: 40%;-->
<!--            padding: 2%;-->
<!--            text-align: center;-->
<!--            margin-top: 5%;-->
<!--        }-->
<!--        .div2{-->
<!--            width: 50%;-->
<!--            height: 200px;-->
<!--            background-color:ceramic-->
<!--        }-->

<!--    </style>-->
</head>
<body>

     <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

    <h5> Mansur tupoi</h5>
</body>
</html>